OPENAI_API_KEY=""
SUPABASE_URL=""
SUPABASE_KEY=""
VOYAGEAI_API_KEY=""
OPENROUTER_API_KEY=""
UBIQUITY_OS_APP_NAME=""

# Google Cloud Platform credentials
GOOGLE_API_KEY=""
GOOGLE_PROJECT_ID=""  # The GCP project ID to fetch service account details
